[Unit]
Description=Heater control server
After=network.target

[Service]
Type=simple
User=someuser
Group=somegroup
Environment="NODE_ENV=production"
WorkingDirectory=/srv/app/heater
ExecStart=/srv/app/heater/start
#ExecStop=/srv/app/heater/stop
#ExecReload=/srv/app/heater/restart

[Install]
WantedBy=multi-user.target
